{% set thisobjecttype = objecttype|split('\\')|last|replace({"_": ""})|lower %}
{% set thisobjectname = objectname|replace({"_": ""})|lower %}
{% set thistmplnameprefix1 = thisobjecttype ~ "_" ~ thisobjectname ~ "_constantts_" %}
{% set thistmplnameprefix2 = thisobjecttype ~ "_constants_" %}

<div class="{{thisobjecttype}} {{thisobjecttype}}constants">
    <p class="heading">Constants</p>

    {% for constant in constants %}
        <div class="constant">
            {% if constant.getDocBlock() != null and constant.getDocBlock().getSummary() != '' %}
                {% set summary = constant.getDocBlock().getSummary() %}
            {% else %}
                {% set summary = '' %}
            {% endif %}
            {% if constant.getDocBlock() != null and constant.getDocBlock().getDescription() != '' %}
                {% set description = constant.getDocBlock().getDescription() %}
            {% else %}
                {% set description = '' %}
            {% endif %}
            {% set formattedConstantName = constant.getName() %}

            {# --- Title ------------------------------------------------------------------------------------------ #}

            <div class="leftspace">

                {% include thistmplnameprefix1 ~ "beforetitle.twig" ignore missing %}
                {% include thistmplnameprefix2 ~ "beforetitle.twig" ignore missing %}

                <p class="name">
                    {{ formattedConstantName }}
                </p>
                <p class="links">
                    <span class="mr-03-rem">&#8594;</span><a class="link" href="#{{thisobjecttype}}_{{thisobjectname}}_summary">Summary</a>
                </p>
                <p class="code">
                    {{ formattedConstantName }}
                </p>

                {% include thistmplnameprefix1 ~ "aftertitle.twig" ignore missing %}
                {% include thistmplnameprefix2 ~ "aftertitle.twig" ignore missing %}

            </div>

            {# --- Description ------------------------------------------------------------------------------------ #}

            <div class="leftspace">

                {% include thistmplnameprefix1 ~ "beforedescription.twig" ignore missing %}
                {% include thistmplnameprefix2 ~ "beforedescription.twig" ignore missing %}

                {% if summary != "" %}
                    <p class="summary">
                        {{ summary|parsedown }}
                    </p>
                {% endif %}
                {% if description != "" %}
                    <p class="description">
                        {{ description|parsedown }}
                    </p>
                {% endif %}

                {% include thistmplnameprefix1 ~ "afterdescription.twig" ignore missing %}
                {% include thistmplnameprefix2 ~ "afterdescription.twig" ignore missing %}

            </div>
        </div>

    {% endfor %}
</div>
