{% set thisobjecttype = objecttype|split('\\')|last|replace({"_": ""})|lower %}
{% set thisobjectname = objectname|replace({"_": ""})|lower %}
{% set thistmplnameprefix1 = thisobjecttype ~ "_" ~ thisobjectname ~ "_header_" %}
{% set thistmplnameprefix2 = thisobjecttype ~ "_header_" %}

{# --- Title ------------------------------------------------------------------------------------------ #}

<dkv class="{{thisobjecttype}} {{thisobjecttype}}header">

    {% include thistmplnameprefix1 ~ "beforetitle.twig" ignore missing %}
    {% include thistmplnameprefix2 ~ "beforetitle.twig" ignore missing %}

    <h1 class="heading pagebreakbefore">{{ name }}</h1>
    {% if summary != "" %}<p class="summary">{{ summary }}</p>{% endif %}
    {% if description != "" %}<p class="description">{{ description }}</p>{% endif %}

    {% include thistmplnameprefix1 ~ "aftertitle.twig" ignore missing %}
    {% include thistmplnameprefix2 ~ "aftertitle.twig" ignore missing %}

</div>