<h2 class="underline">Methods</h2>
{% for method in methods %}
    {% set argumentNames = [] %}
    {% for argument in method.getArguments() %}
        {% set argumentvar = argument.getType() ~ " $" ~ argument.getName() %}
        {% if argument.getDefault() %}
            {% set argumentvar = argumentvar ~ " = " ~ argument.getDefault() %}
        {% endif %}
        {% set argumentNames = argumentNames|merge([argumentvar]) %}
    {% endfor %}
    {% if method.getDocBlock() != null and method.getDocBlock().getSummary() != '' %}
        {% set summary = method.getDocBlock().getSummary() %}
    {% else %}
        {% set summary = '' %}
    {% endif %}
    {% if method.getDocBlock() != null and method.getDocBlock().getDescription() != '' %}
        {% set description = method.getDocBlock().getDescription() %}
    {% else %}
        {% set description = '' %}
    {% endif %}
    {% if method.getReturnType() != "mixed" %}
        {% set methodreturntype = method.getReturnType() %}
    {% else %}
        {% set methodreturntype = '' %}
    {% endif %}
    {% set formattedMethodName = method.getName() %}
    {% set formattedMethodVisibilty = method.getVisibility() %}
    {% set formattedCode = formattedMethodName ~ "(" ~ argumentNames|join(", ")  ~ ")" %}

<h3>{{ formattedMethodName }} ({{ formattedMethodVisibilty }})</h3>

<pre>{{ formattedCode }}</pre>

{% if summary != "" %}<i>{{ summary|parsedown }}</i>{% endif %}
{% if description != "" %}{{ description|parsedown }}{% endif %}

{% if method.getArguments()|length > 0%}
    <h4>Parameters</h4>
    {% for argument in method.getArguments() %}
        {{ argument.getType() }} ${{ argument.getName() }}{% if argument.getDefault() %} = {{ argument.getDefault() }}{% endif %}<br/>
    {% endfor %}
{% endif %}

{% endfor %}

