{% set thisobjecttype = objecttype|split('\\')|last|replace({"_": ""})|lower %}
{% set thisobjectname = objectname|replace({"_": ""})|lower %}
{% set thistmplnameprefix1 = thisobjecttype ~ "_" ~ thisobjectname ~ "_methods_" %}
{% set thistmplnameprefix2 = thisobjecttype ~ "_methods_" %}

<div class="{{thisobjecttype}} {{thisobjecttype}}methods nopagebreakinside">
    <p class="heading">Methods</p>

    {% for method in methods %}
        <div class="method mt-2-rem">
            {% set argumentNames = [] %}
            {% for argument in method.getArguments() %}
                {% set argumentvar = '<span class="keyword">' ~ argument.getType() ~ "</span>&nbsp;$" ~ argument.getName() %}
                {% if argument.getDefault() %}
                    {% set argumentvar = argumentvar ~ " = " ~ argument.getDefault() %}
                {% endif %}
                {% set argumentNames = argumentNames|merge([argumentvar]) %}
            {% endfor %}
            {% if method.getDocBlock() != null and method.getDocBlock().getSummary() != '' %}
                {% set summary = method.getDocBlock().getSummary() %}
            {% else %}
                {% set summary = '' %}
            {% endif %}
            {% if method.getDocBlock() != null and method.getDocBlock().getDescription() != '' %}
                {% set description = method.getDocBlock().getDescription() %}
            {% else %}
                {% set description = '' %}
            {% endif %}
            {% if method.getReturnType() != "mixed" %}
                {% set methodreturntype = method.getReturnType() %}
            {% else %}
                {% set methodreturntype = '' %}
            {% endif %}
            {% set formattedMethodName = method.getName()|replace({"\n": "", "\r": "", "\t": ""}) %}
            {% set formattedMethodVisibilty = method.getVisibility() %}
            {% set formattedCode = formattedMethodName ~ "(" ~ argumentNames|join(",")  ~ ")" %}

            {# --- Title ------------------------------------------------------------------------------------------ #}

            <div class="leftspace">

                {% include thistmplnameprefix1 ~ "beforetitle.twig" ignore missing %}
                {% include thistmplnameprefix2 ~ "beforetitle.twig" ignore missing %}

                <p class="name" id="{{thisobjecttype}}_{{thisobjectname}}_method_{{formattedMethodName}}">
                    {{ formattedMethodName }} ({{ formattedMethodVisibilty }})
                </p>
                <p class="links">
                    <span class="mr-03-rem">&#8594;</span><a class="link" href="#{{thisobjecttype}}_{{thisobjectname}}_summary">Summary</a>
                </p>
                <pre class="code">
                    {{- formattedCode|raw -}}
                </pre>

                {% include thistmplnameprefix1 ~ "aftertitle.twig" ignore missing %}
                {% include thistmplnameprefix2 ~ "aftertitle.twig" ignore missing %}

            </div>

            {# --- Description ------------------------------------------------------------------------------------ #}

            <div class="leftspace">

                {% include thistmplnameprefix1 ~ "beforedescription.twig" ignore missing %}
                {% include thistmplnameprefix2 ~ "beforedescription.twig" ignore missing %}

                {% if summary != "" %}
                    <p class="name">
                        {{ summary|parsedown }}
                    </p>
                {% endif %}
                {% if description != "" %}
                    <p class="description">
                        {{ description|parsedown }}
                    </p>
                {% endif %}

                {% include thistmplnameprefix1 ~ "afterdescription.twig" ignore missing %}
                {% include thistmplnameprefix2 ~ "afterdescription.twig" ignore missing %}

            </div>

            {# --- Parameters ------------------------------------------------------------------------------------ #}

            <div class="leftspace">
                <div class="leftspace">
                    {% include thistmplnameprefix1 ~ "beforeparameters.twig" ignore missing %}
                    {% include thistmplnameprefix2 ~ "beforeparameters.twig" ignore missing %}

                    {% if method.getArguments()|length > 0%}
                        <p class="argumentsheading">
                            Parameters
                        </p>
                        <div class="leftspace">
                            {% for argument in method.getArguments() %}
                                <p class="argumentdefinition">
                                    {{ argument.getType() }} ${{ argument.getName() }}{% if argument.getDefault() %} = {{ argument.getDefault() }}{% endif %}
                                </p>
                                <p class="argumentdescription">
                                    {% set argumentParam = method.getDocBlock().getTagsByName('param')|default([])|filter(v => v.getVariableName() == argument.name) %}
                                    {{(argumentParam|first).getDescription()|parsedownnop}}
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% include thistmplnameprefix1 ~ "afterparameters.twig" ignore missing %}
                    {% include thistmplnameprefix2 ~ "afterparameters.twig" ignore missing %}
                </div>
            </div>
        </div>

    {% endfor %}
</div>
