<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Documentation</title>
        <style>
            {% for inlinefont in inlinefonts %}
                /* {{inlinefont.fontfilename}} */
                @font-face {font-family: '{{inlinefont.fontfamily}}'; font-style: {{inlinefont.fontstyle}}; font-weight: {{inlinefont.fontweight}}; src: url(data:font/ttf;charset=utf-8;base64,{{inlinefont.fontbase64content}})}
            {% endfor %}
            {{inlinecss|raw}}
        </style>
    </head>
    <body>
        {{content|raw}}
    </body>
</html>