{% set thisobjecttype = objecttype|split('\\')|last|replace({"_": ""})|lower %}
{% set thisobjectname = objectname|replace({"_": ""})|lower %}
{% set thistmplnameprefix1 = thisobjecttype ~ "_" ~ thisobjectname ~ "_summary_" %}
{% set thistmplnameprefix2 = thisobjecttype ~ "_summary_" %}

<div class="{{thisobjecttype}} {{thisobjecttype}}summary">
    <p class="heading" id="{{thisobjecttype}}_{{thisobjectname}}_summary">Summary</p>

    {# --- Namespace ------------------------------------------------------------------------------------------ #}

    <div class="leftspace">

        {% include thistmplnameprefix1 ~ "beforenamespace.twig" ignore missing %}
        {% include thistmplnameprefix2 ~ "beforenamespace.twig" ignore missing %}

        <p class="nsheading">Namespace</p>
        <p class="ns">{{ objectfqsen|split('\\')|slice(0,objectfqsen|split('\\')|length - 1)|join('\\') }}</p>

        {% include thistmplnameprefix1 ~ "afternamespace.twig" ignore missing %}
        {% include thistmplnameprefix2 ~ "afternamespace.twig" ignore missing %}

    </div>

    {# --- Public Methods ------------------------------------------------------------------------------------- #}

    <div class="leftspace">

        {% include thistmplnameprefix1 ~ "beforepublicmethods.twig" ignore missing %}
        {% include thistmplnameprefix2 ~ "beforepublicmethods.twig" ignore missing %}

        {% if methods.public | length > 0 %}
            <p class="publicmethodsheading">
                Public methods
            </p>
            <ul>
            {% for method in methods.public %}
                <li>
                    <a href="#{{thisobjecttype}}_{{thisobjectname}}_method_{{method}}">{{ method }}()</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        {% include thistmplnameprefix1 ~ "afterpublicmethods.twig" ignore missing %}
        {% include thistmplnameprefix2 ~ "afterpublicmethods.twig" ignore missing %}

    </div>

    {# --- Protected Methods ---------------------------------------------------------------------------------- #}

    <div class="leftspace">

        {% include thistmplnameprefix1 ~ "beforeprotectedmethods.twig" ignore missing %}
        {% include thistmplnameprefix2 ~ "beforeprotectedmethods.twig" ignore missing %}

        {% if methods.protected | length > 0 %}
            <p class="protectedmethodsheading">
                Protected methods
            </p>
            <ul>
            {% for method in methods.protected %}
                <li>
                    <a href="#{{thisobjecttype}}_{{thisobjectname}}_method_{{method}}">{{ method }}()</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        {% include thistmplnameprefix1 ~ "afterprotectedmethods.twig" ignore missing %}
        {% include thistmplnameprefix2 ~ "afterprotectedmethods.twig" ignore missing %}

    </div>

    {# --- Private Methods ------------------------------------------------------------------------------------ #}

    <div class="leftspace">

        {% include thistmplnameprefix1 ~ "beforeprivatemethods.twig" ignore missing %}
        {% include thistmplnameprefix2 ~ "beforeprivatemethods.twig" ignore missing %}

        {% if methods.private | length > 0 %}
            <p class="privatemethodsheading">
                Private methods
            </p>
            <ul>
            {% for method in methods.private %}
                <li>
                    <a href="#{{thisobjecttype}}_{{thisobjectname}}_method_{{method}}">{{ method }}()</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        {% include thistmplnameprefix1 ~ "afterprivatemethods.twig" ignore missing %}
        {% include thistmplnameprefix2 ~ "afterprivatemethods.twig" ignore missing %}

    </div>
</div>